<nav class="nav">
  <h1><a routerLink="/">Fruitables</a></h1>
  @if (menuTyoe === 'default') {
  <div class="nav-search">
    <input
      type="text"
      #searchInput
      (keyup)="searchProduct($event)"
      (blur)="hideSearch()"
      placeholder="Search for the Products"
    />
    <button (click)="submitSearch(searchInput.value)" >Search</button>
    @if (searchResult) {
    <ul class="suggested-result">
      @for (item of searchResult; track item.id) {
      <li>
        <a (mousedown)="redirectToDetails(item.id)"> {{ item.name }}</a>
      </li>
      }
    </ul>
    }
  </div>
  } @switch (menuTyoe) { @case ('default') {
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="seller-auth">Seller</a></li>
    <li><a routerLink="/user-auth">Login/SignUp</a></li>
    <li><a routerLink="">Cart({{cartItems}})</a></li>
  </ul>
  } @case ('seller') {
  <ul>
    <li><a routerLink="seller-add-product">Add Product</a></li>
    <li><a routerLink="seller-auth">Product List</a></li>
    <li><a (click)="logout()" routerLink="">Logout</a></li>
    <li>
      <a routerLink="">{{ sellerName | titlecase }}</a>
    </li>
  </ul>
  }
@case ('user') {
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="seller-auth">Seller</a></li>
    <li><a routerLink="">{{userName | titlecase}}</a></li>
    <li><a (click)="userLogout()">Logout</a></li>
    <li><a routerLink="cart-page">Cart({{cartItems}})</a></li>
  </ul> 
} }
</nav>
